.h-25r {
    height: 25rem;
}

.cont-img>img {
    position : absolute;
    width    : 100%;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.text-decoration-none {
    text-decoration: none;
}